<h1>Are you sure you want to downgrade your membership?</h1>
<%= link_to "Downgrade Membership", @user, method: :downgrade, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to downgrade your membership?' }, %>