<h1>Are you sure you want to downgrade your membership?</h1>
<%= link_to "Downgrade Membership", charges_downgrade_path, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to downgrade your membership?  Remember your private wikis will become public.' } %>